@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
   url("./assets/fonts/OpenSans/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: bold;
  }
